<configuration>
  <!-- RollingFileAppender：滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
  <!-- 以下的大概意思是：1.先按日期存日志，日期变了，将前一天的日志文件名重命名为XXX%日期%索引，新的日志仍然是sys.log -->
  <!--             2.如果日期没有发生变化，但是当前日志的文件大小超过1KB时，对当前日志进行分割 重命名-->
  <!--<property name="CONSOLE_LOG_PATTERN"-->
  <!--value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}  %clr([${springAppName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]){yellow} %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{50}: %line){cyan} %clr(-){faint} %msg%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>-->
  <springProperty scope="context" name="springAppName" source="spring.application.name"/>
  <appender name="rootAppender"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/home/admin/yunpian-stargate-command/logs/root.log</File>
    <!-- rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。 -->
    <!-- TimeBasedRollingPolicy： 最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
      <!-- 文件名：log/sys.2017-12-05.0.log -->
      <fileNamePattern>/home/admin/yunpian-stargate-command/logs/root.log.%d.log</fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为30天 -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <!-- pattern节点，用来设置日志的输入格式 -->
      <pattern>
        %d %thread ${springAppName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-} %p
        (%file\)- %m%n
      </pattern>
      <!-- 记录日志的编码 -->
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>
  <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %d %thread ${springAppName:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-} %p
        (%file\)- %m%n
      </pattern>
    </layout>
  </appender>
  <!-- 控制台输出日志级别 -->
  <root level="info">
    <appender-ref ref="rootAppender"/>
    <appender-ref ref="consoleLog"/>
  </root>

  <appender name="exceptionAppender"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/home/admin/yunpian-stargate-command/logs/exception.log</File>
    <!-- rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。 -->
    <!-- TimeBasedRollingPolicy： 最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
      <!-- 文件名：log/sys.2017-12-05.0.log -->
      <fileNamePattern>/home/admin/yunpian-stargate-command/logs/exception.log.%d.log
      </fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为30天 -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <!-- pattern节点，用来设置日志的输入格式 -->
      <pattern>
        %d %thread %p - %m%n
      </pattern>
      <!-- 记录日志的编码 -->
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>
  <logger name="exception" level="DEBUG">
    <appender-ref ref="exceptionAppender"/>
  </logger>

  <appender name="stargateAppender"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>/home/admin/yunpian-stargate-command/logs/stargate.log</File>
    <!-- rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。 -->
    <!-- TimeBasedRollingPolicy： 最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
      <!-- 文件名：log/sys.2017-12-05.0.log -->
      <fileNamePattern>/home/admin/yunpian-stargate-command/logs/stargate.log.%d.log
      </fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为30天 -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <!-- pattern节点，用来设置日志的输入格式 -->
      <pattern>
        %d %thread %p - %m%n
      </pattern>
      <!-- 记录日志的编码 -->
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>
  <logger name="com.yunpian.stargate" level="info">
    <appender-ref ref="stargateAppender"/>
  </logger>
</configuration>